<div id="<%= dom_id newspaper %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= newspaper.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= newspaper.url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Language:</strong>
    <%= newspaper.language %>
  </p>

</div>
