<% content_for :title, "Slobodna Dalmacija" %>
<% content_for :search, params[:url] %>

<p style="color: green"><%= notice %></p>

<style>
  .cs-panel { 
    width: 50%;
    padding: 0 0.75em;
  }

  .cs-panel-container {
    display: flex;
    padding: 1.5em 4.5em;
  }

  iframe {
    width: 100%;
  }

  body * {
      box-sizing: border-box;
  }
</style>

<div class="mx-auto h-full">
  <div class="cs-panel-container h-full">
    <div class="cs-panel notranslate">
      <iframe id="iframe1" src="/proxies?url=<%= yield(:search) %>" width="100%" height="100%"></iframe>

    </div>
    <div class="cs-panel">
       <iframe id="iframe2" src="/proxies?url=<%= yield(:search) %>" width="100%" height="100%"></iframe>
    </div>
  </div>
</div>

<script>
  function custom_resize_function() {
      var windowHeight = $(window).height();
      var navHeight = $("body > div > nav").outerHeight();
      var headerHeight = $("body > div > header").outerHeight();

      var mainHeight = windowHeight - navHeight - headerHeight;
      $("body > div > main").outerHeight(mainHeight);
  }

  $(document).ready(function() {
    const iframe1 = document.getElementById('iframe1');
    const iframe2 = document.getElementById('iframe2');

    iframe1.addEventListener('load', function () {
      custom_resize_function()

      let originalIframe = iframe1.contentWindow;
      let translatedIframe = iframe2.contentWindow;

      // Add scroll event listener to the original iframe
      originalIframe.addEventListener('scroll', function () {
        // Get the scroll position
        let scrollTop = originalIframe.document.documentElement.scrollTop || originalIframe.document.body.scrollTop;
        let scrollLeft = originalIframe.document.documentElement.scrollLeft || originalIframe.document.body.scrollLeft;
        
        // Apply the scroll position to the translated iframe
        translatedIframe.scrollTo(scrollLeft, scrollTop);
      });
    });

    iframe2.addEventListener('load', function () {
      custom_resize_function()

      let originalIframe = iframe2.contentWindow;
      let translatedIframe = iframe1.contentWindow;

      // Add scroll event listener to the original iframe
      originalIframe.addEventListener('scroll', function () {
        // Get the scroll position
        let scrollTop = originalIframe.document.documentElement.scrollTop || originalIframe.document.body.scrollTop;
        let scrollLeft = originalIframe.document.documentElement.scrollLeft || originalIframe.document.body.scrollLeft;
        
        // Apply the scroll position to the translated iframe
        translatedIframe.scrollTo(scrollLeft, scrollTop);
      });
    });

    custom_resize_function();
  });

  $(window).resize(custom_resize_function)
  $(window).load(custom_resize_function)
</script>
