/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.video-js .vjs-text-track-cue {
    margin-top: -0.25em;
    font-family: Arial, Helvetica, sans-serif;
}

.video-js .vjs-text-track-cue div {
    opacity: 0.8;
    font-size: 1.5em;
    color: #FFFF00 !important;
}

.video-js .vjs-text-track-cue span {
    opacity: 0.65;
}
